:root {
	--background: rgb(250, 250, 250);
	--background-darker: rgb(230, 230, 230);
	--white: rgb(255, 255, 255);
	--white-opacity: rgba(255, 255, 255, 0.95);
	--font: rgb(63, 63, 78);
	--hover: rgb(67, 142, 204);
	--darker-blue: rgb(31, 77, 116);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	min-height: 200vh;
}

.button {
	color: var(--font);
	background-color: var(--white);
	padding: 0.6rem 1.2rem;
	border: none;
	border-radius: 40px;
	font-size: 1.4rem;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
	z-index: 10;
	cursor: pointer;
}
.button:hover {
	color: var(--white);
	background-color: var(--hover);
}

.section__header {
	position: relative;
	color: var(--font);
	font-size: 3rem;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.section__header::before {
	position: absolute;
	content: '';
	height: 2px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 10rem;
	background-color: var(--hover);
}

/* Nawigacja */
.nav {
	position: fixed;
	display: flex;
	top: 0;
	height: 7rem;
	width: 100%;
	background-color: var(--white);
	z-index: 1000;
}
.nav__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0.8rem 3rem;
}

.nav__mobile-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav__logo-img {
	position: absolute;
	top: 1rem;
	height: 15rem;
	width: auto;
    left: 5%;
}

.hamburger-button {
	position: relative;
	display: block;
	background-color: var(--font);
	cursor: pointer;
	border: none;
}

.hamburger-button,
.hamburger-button::after,
.hamburger-button::before {
	height: 3px;
	width: 3rem;
	background-color: var(--font);
}

.hamburger-button::after,
.hamburger-button::before {
	content: '';
	position: absolute;
	left: 0;
}

.hamburger-button::after {
	top: -6px;
}

.hamburger-button::before {
	bottom: -6px;
}

.nav__item-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	padding: 3rem 2rem;
	margin-top: 7rem;
	background-color: var(--white-opacity);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.3s ease-out;
}

.nav--active {
	transform: scaleY(1);
}

.nav__item {
	font-size: 1.8rem;
	width: 100%;
	text-align: center;
	padding: 2rem 1rem;
	color: var(--font);
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;
}

.nav__item:hover {
	color: var(--hover);
}

/* SEKCJA LANDING */
.landing__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	min-height: 100vh;
	gap: 3rem;
	width: 100%;
	background-image: url('img/heaven.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: var(--white);
}
.landing__shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.24);
}
.landing__header {
	text-align: center;
	font-size: 4.4rem;
	font-weight: bold;
	z-index: 10;
}
.landing__header--welcome {
	font-weight: normal;
}

.landing__text {
	z-index: 10;
	font-size: 2.4rem;
}

.landing__button {
	width: 200px;
}

/* SEKCJA ABOUTUS */
.aboutus__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 50vh;
	width: 100%;
	padding: 6rem 3rem;
}

.aboutus__header {
	margin-bottom: 4rem;
	color: var(--font);
}

.aboutus__text {
	text-align: center;
	color: var(--font);
}

/* sekcja SPOLECZNOSC */
.community__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 50vh;
	padding: 6rem 3rem;
	text-align: center;
	background-color: var(--background);
}

.community__heading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-bottom: 6rem;
}

.community__cards-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	max-width: 1200px;
}

.community__card {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
}

.community__card-img {
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
	margin-bottom: 2rem;
}

.community__card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.community__card-title {
	margin-bottom: 2rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: var(--font);
}

.community__link-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.community__link {
	text-decoration: none;
	margin-bottom: 1rem;
	color: var(--hover);
}

/* SEKCJA FUNKCJONALNOŚCI */

.functionalities__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem 2rem;
	min-height: 50vh;
}
.functionalities__heading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-bottom: 6rem;
}
.functionalities__text {
	text-align: center;
	color: var(--font);
}

/* SLIDER / KARUZELA */

.slider {
	position: relative;
	/* height: 500px; */
	max-width: 500px;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
}

.slider-box {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s;
}
.slider-img {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 500px;
	padding: 6rem 0;
}
.slider-background {
	height: 100%;
	object-fit: cover;
}
.slider__content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.slider__title {
	position: relative;
	margin-bottom: 3rem;
	color: var(--darker-blue);
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}
.slider__title::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 50%;
	bottom: -1rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--darker-blue);
}
.slider__list {
	list-style: numeric;
	width: 80%;
	color: var(--white);
	font-size: 1.2rem;
}
.slider__hashtag {
	margin-top: 2rem;
	color: var(--white);
	font-size: 1.2rem;
}

.btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.5em 0.8em;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 2rem;
	border: none;
	cursor: pointer;
}

.btn-left {
	left: 0;
}

.btn-right {
	right: 0;
}

/* SEKCJA KONTAKT */
.contact__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	padding: 6rem 3rem;
	background-image: url('img/contact.jpeg');
	background-size: cover;
	background-attachment: fixed;
}
.contact__icon-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 100%;
}
.contact__icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
	margin-bottom: 8rem;
}
.contact__icon {
	height: 3rem;
}

.contact__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	max-width: 600px;
	padding: 2rem 0;
	background: rgba(0, 0, 0, 0.473);
	color: var(--white);
	border-radius: 4px;
}
.contact__form-heading {
	font-size: 2rem;
}
.contact__form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding: 0 1rem;
	max-width: 400px;
	gap: 0.6rem;
}
.contact__input {
	width: 100%;
	padding: 1rem 1.2rem;
	background: none;
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 4px;
}
.contact__textarea {
	resize: vertical;
	min-height: 100px;
}

.contact__form-button {
	padding: 1.2rem 1.6rem;
	margin-top: 2rem;
	background: none;
	color: var(--white);
	border: 1px solid var(--white);
}

/* FOOTER */

.footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	height: 300px;
	background-color: var(--hover);
	color: var(--white);
}
.footer__heading {
	font-size: 3.4rem;
}
.footer__icon {
	height: 6rem;
	cursor: pointer;
}
.footer__copyright {
	opacity: 0.6;
	font-size: 1.6rem;
}

/* Text style */
.text__decor {
	color: var(--hover);
}

/* media queries  */
@media only screen and (min-width: 768px) {
	.hamburger-button {
		display: none;
	}

	.section__header {
		font-size: 3.6rem;
	}

	.nav__item-container {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		padding: 0;
		transform: translateY(0);
		z-index: 1000;
	}

	.nav__item {
		font-size: 1.4rem;
		padding: 1rem 1.2rem;
		width: auto;
	}

	/* SEKCJA LANDING */

	.landing__header {
		font-size: 7rem;
	}
	.landing__text {
		font-size: 3rem;
	}

	/* SEKCJA ABOUTUS  */
	.aboutus__wrapper {
		justify-content: center;
	}

	.aboutus__text-wrapper {
		width: 70%;
		font-size: 1.8rem;
	}

	/* SEKCJA SPOLECZNOSC */

	.community__text {
		font-size: 1.6rem;
	}
	.community__card {
		flex-direction: row-reverse;
		gap: 2rem;
	}
	.community__card-img {
		width: 50%;
		background-size: cover;
	}
	.community__card-info {
		align-items: flex-start;
	}
	.community__card-title {
		width: 100%;
		font-size: 1.8rem;
		text-align: left;
	}

	.community__link-container {
		align-items: flex-start;
	}
	.community__link {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	/* SEKCJA FUNKCJONALNOŚCI */
	.functionalities__text {
		width: 60%;
	}

	/* SEKCJA KONTAKT */
	.contact__icon-wrapper {
		flex-direction: row;
		gap: 10rem;
	}
	.contact__icon {
		height: 5rem;
	}

	/* SLIDER */

	.slider {
		max-width: 1200px;
	}
	.slider__title {
		width: 80%;
		font-size: 2.8rem;
		margin-bottom: 5rem;
	}
	.slider__list {
		font-size: 1.8rem;
	}
	.slider__list-item {
		margin-bottom: 1rem;
	}
	.slider__hashtag {
		font-size: 2rem;
	}
	.slider-background {
		max-width: 1200px;
		height: auto;
	}
}
